html, body {height: 100%}
@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/CaviarDreams.ttf') format('truetype');
}
@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/CaviarDreams_Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
#content {padding:150px 0 60px; margin: 0 auto -60px; min-height:100%;}
#footer {height:60px;padding-top:20px;}
.navbar-nav {font-size:22px}
.navbar-fixed-top {border-bottom:0;}
.navbar-brand {font-size:180%; font-weight:bold;  margin-right: 20px;}
h1 {text-align:center;padding-bottom:20px;}
.map {color:#222;}
