{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Anfahrt</h3>
            <address>
                <strong>Rockin' Candy Tattoo</strong><br>
                Frank Niggemann<br>
                Im Brückerfeld 6<br>
                42799 Leichlingen<br>
            </address>
            <h3>Kontakt</h3>
            <table>
                <tr>
                    <th>Telefon:</th>
                    <td>01577 - 585 94 17</td>
                </tr><tr>
                    <th>E-Mail:</th>
                    <td><a href="info@rockincandy-tattoo.de">
                        info@rockincandy-tattoo.de
                    </a></td>
                </tr><tr>
                    <th>Facebook: &nbsp;</th>
                    <td><a href="https://www.facebook.com/RockinCandyTattoo">
                       RockinCandyTattoo
                    </a></td>
                </tr>
            </table>
            <h3>Öffnungszeiten</h3>
            <table>
                <tr>
                    <th>Mo. - Fr. &nbsp;</th>
                    <td>12 - 18 Uhr</td>
                </tr><tr>
                    <th>Sa.</th>
                    <td>12 - 16 Uhr</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h3>Karte</h3>
            <div class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.2715415037624!2d7.0117313157551555!3d51.103449979570826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c7e74ec52eab22b!2sRockin+Candy+Tattoo!5e0!3m2!1sde!2sus!4v1469186360757"
                width="600" height="450" frameborder="0" style="border:0"
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#nav_direction").addClass("active");
    });
</script>
{% endblock %}
