{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="cafe" class="col-md-4">
            <a href="cafe.html">
                <img src="img/cafe.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Studio & Cafe" >
            </a>
        </div>
        <div id="tattoo" class="col-md-4">
            <a href="tattoo.html">
                <img src="img/tattoo.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Tattoo">
            </a>
        </div>
        <div id="templates" class="col-md-4">
            <a href="templates.html">
                <img src="img/templates.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Templates">
            </a>
        </div>
    </div>
</div>
{% endblock %}
