{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div id="studio" class="col-md-6">
            <a href="studio.html">
                <img src="img/logo.png" alt="Studio & Cafe"
                    class="img-responsive">
            </a>
        </div>
        <div class="col-md-3"></div>
        <!-- div id="studio" class="col-md-4">
            <a href="studio.html">
                <img src="img/studio.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Studio & Cafe" >
            </a>
        </div>
        <div id="tattoo" class="col-md-4">
            <a href="tattoo.html">
                <img src="img/tattoo.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Tattoo">
            </a>
        </div>
        <div id="templates" class="col-md-4">
            <a href="templates.html">
                <img src="img/templates.jpg" width="80%" width="80%"
                    class="grayscale grayscale-fade img-responsive"
                    alt="Templates">
            </a>
        </div -->
    </div>
</div>
{% endblock %}
