{% extends "_base.html" %}
{% block content %}
    <div class="row">
        <div id="cafe" class="col-md-4">
            <a href="cafe.html">
                <img src="img/cafe.jpg" alt="Studio & Cafe"
                    class="linkimage img-responsive" width="75%">
            </a>
        </div>
        <div id="tattoo" class="col-md-4">
            <a href="tattoo.html">
                <img src="img/tattoo.jpg" alt="Tattoo"
                    class="linkimage img-responsive" width="75%">
            </a>
        </div>
        <div id="templates" class="col-md-4">
            <a href="templates.html">
                <img src="img/templates.jpg" alt="Templates"
                    class="linkimage img-responsive" width="75%">
            </a>
        </div>
    </div>
{% endblock %}
