{% extends "_base.html" %}
{% block content %}
<div class="container">
    <h3 class="text-center">Nina</h3>
    <div class="row">
        {% for image in images %}
        <div class="col-xs-6 col-md-3">
            <a href="{{ image }}" class="thumbnail" data-lightbox="frank">
                <img src="{{ image }}" alt="Tattoo von Nina"
                    class="grayscale grayscale-fade img-responsive">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#nav_tattoo").addClass("active");
    });
</script>
{% endblock %}
