{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>TATTOO<br>DAS TEAM</h2>
        </div>
        <div class="col-md-3">
            <a href="frank.html">
                <h3 class="text-center">Frank</h3>
                <img src="media/Frank_134.jpg" alt="Tattoo von Frank"
                    class="grayscale grayscale-fade img-responsive thumbnail">
            </a>
        </div>
        <div class="col-md-3">
            <a href="nina.html">
                <h3 class="text-center">Nina</h3>
                <img src="media/Nina_0138.jpg" alt="Tattoo von Nina"
                    class="grayscale grayscale-fade img-responsive thumbnail">
            </a>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Maike</h3>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#nav_tattoo").addClass("active");
    });
</script>
{% endblock %}
