{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row" id="tattoo_index">
        <div class="col-md-3 hidden-xs">
            <h2>TATTOO<br>DAS TEAM</h2>
        </div>
        <div class="col-md-3 col-xs-4 text-center">
            <a href="maike.html">
                <h3>Maike</h3>
                <img src="media/Maike1.png" alt="Tattoos von Maike"
                    class="grayscale grayscale-fade img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-xs-4 text-center">
            <a href="frank.html">
                <h3>Frank</h3>
                <img src="media/Frank1.png" alt="Tattoos von Frank"
                    class="grayscale grayscale-fade img-responsive">
            </a>
        </div>
        <div class="col-md-3 col-xs-4 text-center">
            <a href="nina.html">
                <h3>Nina</h3>
                <img src="media/Nina1.png" alt="Tattoos von Nina"
                    class="grayscale grayscale-fade img-responsive">
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
        $("#nav_tattoo").addClass("active");
    });
</script>
{% endblock %}
