{% extends "_base.html" %}
{% block content %}
    <h1>Rockin' Candy Tattoo <small>Studio & Cafe</small></h1>
    <div class="row">
        <div id="cafe" class="col-md-4">
            <img src="img/cafe.jpg" class="linkimage img-responsive"
                alt="Studio & Cafe">
        </div>
        <div id="tattoo" class="col-md-4">
            <img src="img/tattoo.jpg" class="linkimage img-responsive"
                alt="Tattoo" class="linkimage">
        </div>
        <div id="templates" class="col-md-4">
            <img src="img/templates.jpg" class="linkimage img-responsive"
                alt="Templates" class="linkimage">
        </div>
    </div>
{% endblock %}
{% block javascript %}
    $(function(){
        $("nav_cafe").addClass("active");
    });
{% endblock %}
